html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  left: 0;
  height: 69px;
}
.logo {
  display: block;
  margin-left: 10px;
}
nav span {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: underline;
}
.link {
  color: white;
}
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-top: 2px;
}
.top-container {
  display: block;
  background-image: url("../../resources/images/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  /*align-items: center;*/
  margin: 0 auto;
}
.mission {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner {
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: black;
  text-align: center;
  justify-content: space-around;
  width: 100%
}

.featured-tea {
  display: flex;
  flex-direction: column;
  background-size: contain;
  position: relative;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: center;
}
.featured-tea{
  padding-top: 50px;
  padding-bottom: 50px;
}
.tea {
  margin: 0px 10px;
}
.tea h3 {
  margin: 10px;
}
.location {
  background-image: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /*padding-top: 50px;*/
}

.store {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 300px;
  opacity: 1;
  background-color: black;
  margin: 0 20px;
  position: relative;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
}
footer {
  text-align: left;
  margin-left: 20px;
}
